<nav class="navbar navbar-expand-lg "style="background-color: #bfcff7;">
  <div class="container-fluid">
    <a class="navbar-brand" href="accordian/"><img src="https://avatars.planningcenteronline.com/uploads/organization/206582-1469590946/avatar.1.jpg" width="30" height="30" class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.paypal.com/donate/?hosted_button_id=6UHNTARXU9ATA">Give Online</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href= role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About Us
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Locations">Locations</a></li>
            <li><a class="dropdown-item" href="/staff">Staff</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://calvarychapel316.com/welcome-handbook/">What we Believe</a></li>
            <li><a class="dropdown-item" href="/sermons">Message Archive</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href= role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Connect
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Locations">Questions</a></li>
            <li><a class="dropdown-item" href="/staff">Subscribe</a></li>
            <li><a class="dropdown-item" href="/staff">Server</a></li>
            <li><a class="dropdown-item" href="/staff">groups</a></li>
            <li><a class="dropdown-item" href="https://cceastct.churchcenter.com/people/forms/330616">Connect</a></li>
          </ul>
        </li>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>