<aside id="sidebar-el"
  class="fixed top-0 left-0 z-40 h-screen
         w-64
         transition-all duration-300 ease-in-out
         -translate-x-full lg:translate-x-0
         lg:static
         bg-white border-r border-gray-200">

  <div class="flex-1 px-3 py-4 space-y-2">

    <!-- HEADER -->
    <div id="sidebar-header"
        onclick="toggleSidebar()"
        class="group flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-100 transition-all">

      <!-- Logo -->
      <img src="https://avatars.planningcenteronline.com/uploads/organization/206582-1469590946/avatar.1.jpg"
          class="h-8 w-8 min-w-[32px] rounded" alt="Logo">

      <!-- Text -->
      
      <span class="sidebar-text font-semibold whitespace-nowrap">
        Calvary Chapel
      </span>
      

      {% comment %} <!-- Hover icon -->
      <span class="ml-auto opacity-0 group-hover:opacity-100 transition text-gray-400"></span> {% endcomment %}

    </div>

    <nav class="flex-1 px-3 py-4 space-y-2">

      <a href="{% url 'sermon_list' %}"
        class="nav-item flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-gray-100 transition-all">
        
        <span class="text-xl">📖</span>
        <span class="sidebar-text whitespace-nowrap">Sermons</span>
      </a>

      <a href="{% url 'series_list' %}"
        class="nav-item flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-gray-100 transition-all">
        
        <span class="text-xl">📖</span>
        <span class="sidebar-text whitespace-nowrap">Series</span>
      </a>

    </nav>
    
  </div>
</aside>

