{% load static tailwind_tags %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% tailwind_css %}

    <title>{% block head_title %}Calvary Chapel Eastern CT{% endblock %}</title>
  </head>

  <body class="bg-gray-50 text-gray-900" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

<div class="h-screen flex overflow-hidden">

  <!-- Sidebar (fixed) -->
  <aside class="w-64 bg-white border-r border-gray-200 fixed inset-y-0 left-0">
    {% include "base/sidebar.html" %}
  </aside>

  <!-- Main Content -->
  <main class="ml-64 flex-1 h-screen overflow-y-auto scroll-smooth bg-gray-50 p-6">
    {% block content %}{% endblock %}
  </main>

</div>
    <!-- HTMX Login Check -->
    <div hx-get="/hx/login/" hx-trigger="load"></div>

    <!-- Flowbite JS -->
    <script src="{% static 'js/flowbite.min.js' %}"></script>

  </body>
</html>